@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

/* /step4: lets give the default universal margin and padding to 0 */
* {
    margin: 0;
    padding: 0;
}

/* step5: now lets give the background image for the container class. */
.container{
    /* step6: used ".." as we have to come  */
    background: url("../assets/bg.png");

    /* step7: now give it height to take 100% of the screen height. */
    min-height: 100vh;

    /* step8: now lets use the background size to fit the whole screen. */
    background-size: 100vw 100vh;

    /* step9: now lets make it no repeat so that the image does not repeat when it reaches the end. */
    background-repeat: no-repeat;

    /* step10: lets make it a flexbox and make it to be vertically and horizontally centered the items inside this container. */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
}

/* step11: now lets style the board here below. */
#board{
    background: linear-gradient(rgb(0, 17, 255), rgb(255, 0, 123));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid white;

    /* step12: now lets the board as a grid below. */
    display: grid;

    /* step13: now lets make 18 rows each of 1fr width. */
    grid-template-rows: repeat(18, 1fr);

    /* step14: now lets make 18 columns each of 1fr width. */
    grid-template-columns: repeat(18, 1fr);
}

/* step80: lets style the scoreboard there now.  */

/* step81: see the next steps after styling in script.js file there now. */
#scoreBox{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    /* font-family: 'Roboto', Arial, sans-serif; */
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #00ffff, 0 0 30px #ff00ff;
}

#highscoreBox{
    position: absolute;
    top: 70px;
    right: 8px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    /* font-family: 'Monoton', cursive; */
    font-size: 3rem;
    color: #1fff44;
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #00ffff, 0 0 30px #ff00ff;
}

/* step15: now lets write class for snake's head and the food it eats. */

/* step16: see next steps in the script file there. */
.head{
    background: linear-gradient(135deg, #ffea00, #ff5f1f);
    border: .25vmin solid rgb(73, 0, 95);
    border-radius: 12px;
    transform: scale(1.02);
}

.snake{
    background: linear-gradient(135deg, #00ff99, #00ccff);
    border: .25vmin solid white;
    border-radius: 50%;
}

.food{
    background: linear-gradient(orange, green);
    border: .25vmin solid black;
    border-radius: 12px;
}
